<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>AdaSoft/Productos</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl bg-primarycolor">
          <div class="container-fluid">
            <img id="Logo" class="d-inline-block align-top" src="../img/LogoAdaSoft3.PNG" alt="Logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <img src="../img/bars-solid.svg" class="img-small" alt="Usuario">
            </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-navs">
              <li class="nav-item">
                <a class="nav-link" href="#">Ventas</a>
              </li>              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Usuarios</a>
              </li>
            </ul>
          </div>
          <div id="dropdown-div" class="dropdown">
            <a id="dropdown-user" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../img/user-regular.svg" class="img-small" alt="Usuario">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
          </div>
          </div>
        </nav>
      </header>
        <!-- content -->
        <div class="title">
            <h1>Productos</h1>
        </div> 
        <div class="container">
            <div class="row">
                <div class="column-4">                  
                </div>
                <div class="column-4"> 
                    <div class="formVendedores">
                        <div class="input-group mb-3 formulario">            
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Id Producto" disabled>
                        </div> 
                        <div class="input-group mb-3 formulario">            
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Nombre">
                        </div>                        
                        <div class="input-group mb-3">            
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Descripción">
                        </div>
                        <div class="input-group mb-3">            
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Valor Unitario">
                        </div>                        
                        <div class="input-group mb-3 formulario">            
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Estado">
                        </div>                         
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-success" type="button" data-bs-toggle="modal"  data-bs-target="#confirmProduct">Registrar</button>
                            <button class="btn btn-info" type="button"><a href="./listadoProductos.html">Consultar</a></button>
                        </div>
                    </div>                    
                </div>
                <div class="column-4">                    
                </div>
            </div>
        </div>       
    </div>
    <!-- Modal -->
    <div class="modal" id='confirmProduct' tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar Registro Producto</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Id Producto" disabled>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Nombre">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Descripción">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Valor Unitario">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Estado">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary"  data-bs-toggle="modal"  data-bs-target="#registerProduct">Registrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 2 -->

      <div class="modal" id="registerProduct" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Producto Registrado</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Se ha registrado el producto con id: ..., <br>
                 con nombre: ..., <br>
                 con la siguiente descripción: ..., <br>
                 y estado: ...</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img class='imagenEquipo' src="../img/logoAdaTeam.PNG" alt="logo Ada Team">
                    </div>
                    <div class="col">
                        <div>Ada-Dev-Team</div>
                        <div>MisionTic 2022 UdeA</div>
                        <div>2021</div>
                    </div>
                    <div class="col">
                        <img class='imagenMintic2022' src="../img/logoMisionTic2022UdeA.png" alt="logoMisionTic2022UdeA">                    
                    </div>
                </div>  
            </div> 
        </footer>
    
    <!-- Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>    
</body>
</html>